<img src="https://www.nicepng.com/png/detail/46-461860_herbalife-logo-png.png" />
<p>FitPro Inc Provides an Online Solution about Dietary plans, Nutritional Values,
     Fitness Suggestions and Solutions. They want their solution to be A web based 
     solution as well as accessible on Mobile Apps.This Particular Solution We focus 
     only on Web Based Solution A Single page App need to be built with multiple Flows<br>
     phone number : 8897574996
</p> 
<app-content-box *ngFor="let x of contactlist" [contact]="x">

</app-content-box>